/BHToolbox/nbproject/private/
/BHToolbox/build/
/BHToolbox/dist/
*.bak
*.lnk
/BHToolbox/src/bht/tools/util/nppBackup/
/BHToolbox/out/
/BHToolbox/nbbuild/
/BHToolbox/nbdist/
/BHToolbox/nbactions.xml
/BHToolbox/.nb-gradle/
BHToolbox/.idea/workspace.xml
